[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
sphinx = "*"
rstcheck = "*"
doc8 = "*"

[packages]
pyqt5 = "==5.15.0"
requests = "==2.24.0"


[requires]
python_version = "3.8"
